{{>layout/header}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>SCS Service</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- apply_form_area -->
<div class="apply_form_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form action="#" class="apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h3>주차장 등록</h3>
                                <p>등록할 주차장의 정보를 기입하세요! 제출 후 심사를 통해 등록됩니다.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" name="chargeName" id="chargeName" placeholder="주차장 이름">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field field_custom">
                                <h3>주차장 타입</h3>
                                <div class="field_divide field_rad_mid">
                                    <span>01. 단독 주택</span>
                                    <div class="primary-radio">
                                        <input type="radio" id="default-radio-1" name="parkingType" value="단독주택">
                                        <label for="default-radio-1"></label>
                                    </div>
                                    <span>02. 개인 사유지</span>
                                    <div class="primary-radio">
                                        <input type="radio" id="default-radio-2" name="parkingType" value="개인 사유지">
                                        <label for="default-radio-2"></label>
                                    </div>
                                    <span>03. 공통 주택</span>
                                    <div class="primary-radio">
                                        <input type="radio" id="default-radio-3" name="parkingType" value="공동 주택">
                                        <label for="default-radio-3"></label>
                                    </div>
                                    <span>04. 기타</span>
                                    <div class="primary-radio">
                                        <input type="radio" id="default-radio-4" name="parkingType" value="기타">
                                        <label for="default-radio-4"></label>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <select name="operation" id="operation" class="wide">
                                <option data-display="Purpose">충전 타입을 선택해주세요</option>
                                <option value="1">DC 차데모</option>
                                <option value="2">DC 콤보</option>
                                <option value="3">슈퍼 차치</option>
                                <option value="4">AC 3상 5핀</option>
                                <option value="5">AC 3상 7핀</option>
                            </select>
                            -->
                        </div>
                        <div class="col-md-12 def_mar">
                            <h3>요금 및 칸</h3>
                            <div class="col-md-4 float-left">
                                <label for="min30Fee">30분당 기본요금</label>
                                <input type="text" name="min30Fee" id="min30Fee" placeholder="주차장 이름" class="single-input" />
                            </div>
                            <div class="col-md-4 float-left">
                                <label for="addMin10Fee">10분당 기본요금</label>
                                <input type="text" name="addMin10Fee" id="addMin10Fee" placeholder="주차장 이름" class="single-input" />
                            </div>
                            <div class="col-md-4 float-left">
                                <label for="place">주차 공간 수</label>
                                <input type="text" name="place" id="place" placeholder="주차장 이름" class="single-input" />
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-lg-4 field_col_margin">
                            <h3>주소</h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" name="postcode" id="postcode" placeholder="우편번호" value="" class="single-input" />
                                <button type="submit" class="genric-btn default-border">주소 검색</button>
                                <input type="text" name="roadAddress" id="roadAddress" placeholder="도로명주소" value="" class="single-input" />
                                <input type="text" name="jibunAddress" id="jibunAddress" placeholder="지번주소" value="" class="single-input" />
                                <input type="text" name="detailAddress" id="detailAddress" placeholder="상세주소" value="" class="single-input" />
                                <input type="text" name="extraAddress" id="extraAddress" placeholder="참고항목" value="" class="single-input" />
                            </form>
                            <p class="newsletter_text">주소를 검색하여 주소를 등록해주세요.</p>
                        </div>

                        <div class="col-xl-6 col-md-6 col-lg-4 field_col_margin">
                            <h3>사진 등록</h3>
                            <form action="#" class="newsletter_form">
                                <label for="image1">충전소 사진 업로드1</label>
                                <input type="file" name="file1" id="image1" accept="image/*" class="single-input" />
                                <label for="image2">충전소 사진 업로드2</label>
                                <input type="file" name="file2" id="image2" accept="image/*" class="single-input" />
                                <button type="upload" class="genric-btn default-border">사진 등록</button>
                            </form>
                            <p class="newsletter_text">충전소 사진을 등록해주세요.</p>
                        </div>

                        <div class="col-md-12">
                            <h3>주차장 운영 시간</h3>
                            <div class="col-md-4 float-left">
                                <label for="dayTime">평일 시간</label>
                                <input type="text" name="dayTime" id="dayTime" placeholder="09:00 ~ 16:00" class="single-input" />
                            </div>
                            <div class="col-md-4 float-left">
                                <label for="weeTime">주말 시간</label>
                                <input type="text" name="weeTime" id="weeTime" placeholder="09:00 ~ 16:00" class="single-input" />
                            </div>
                            <div class="col-md-4 float-left">
                                <label for="holTime">공휴일 시간</label>
                                <input type="text" name="holTime" id="holTime" placeholder="09:00 ~ 16:00" class="single-input" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/ apply_form_area -->

{{>layout/footer}} <!-- >는 현재 머스테치 파일을 기준으로 다른 파일을 가져옴. -->